.jumbotron {
  padding-top: 5rem;
  background-color: #b1d4e0;
}

#projects {
  background-color: #b1d4e0;
}

section {
  padding-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

.card-text p {
  margin: 0;
  text-indent: 5rem;
  text-align: justify;
}

.text-justify {
  text-align: justify;
}
